* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.board_container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.cells_ship_box1 {
  position: relative;
  width: 551px;
  height: 551px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border: 1px solid navy;
  border-radius: 10px;
  padding: 0;
}

.cells_ship_box2 {
  position: relative;
  width: 551px;
  height: 551px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border: 1px solid navy;
  border-radius: 10px;
  padding: 0;
}

.cell_container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.cell_container_2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid navy;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: large;
  color: navy;
}

.num_cell_container {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.num_cell_container_2 {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.droppable_cell_container {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.droppable_cell_container_2 {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.ship-box_container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.ship-box {
  height: 250px;
  width: 540px;
  border: 5px dotted navy;
  border-radius: 10px;

  display: flex;
  gap: 3px;
  flex-wrap: wrap;

  padding: 10px;
  margin-bottom: 7px;
}

.ship-box_2 {
  height: 250px;
  width: 540px;
  border: 5px dotted navy;
  border-radius: 10px;

  display: flex;
  gap: 3px;
  flex-wrap: wrap;

  padding: 10px;
  margin-bottom: 7px;
}

.ship-1-box {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.ship-1 {
  height: 50px;
  width: 50px;
  background-color: #99D4F2;
  border-radius: 10px;
}

.ship-2-box {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.ship-2 {
  height: 50px;
  width: 100px;
  background-color: #68BAE2;
  border-radius: 10px;
}

.ship-3-box {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.ship-3 {
  height: 50px;
  width: 150px;
  background-color: #53A0C7;
  border-radius: 10px;
}

.ship-4 {
  height: 50px;
  width: 200px;
  background-color: #3C88AE;
  border-radius: 10px;
}

.button-box {
  display: flex;
  gap: 400px;
}

.move-made {
  height: 60px;
  width: 200px;
  background-color: #3C88AE;
  border-radius: 10px;
  border: 0;

  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: large;
  color: white;
}

.cover {
  position: absolute;
  z-index: 2;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(#fff,#99D4F2);
  border-radius: 10px;
  display: none;
}

.invalid_cell {
  border-color: #3C88AE;
}

.cover_elem {
  top: 50px;
  left: 50px;
}

.cover_elem2 {
  top: 50px;
  left: 50px;
}