* {
  margin: 0;
  padding: 0;
}

.cells_ship_box1 {
  height: 610px;
  width: 610px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px 3px;
  border: 1px solid navy;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid navy;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: large;
}